<div class="content">
  <h1> Order Management </h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ตะกร้า</th>
        <th scope="col">วันที่สั่ง</th>
        <th scope="col">ชื่อ</th>
        <th scope="col">ยอด (บาท)</th>
        <th scope="col">วืธีชำระเงิน</th>
        <th scope="col">สถานะ</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <th scope="row">{{this._id}}</th>
        <td>{{this.date}}</td>
        <td>{{this.name}}</td>
        <td>{{this.cart.totalPrice}}</td>
        <td>{{this.paymentMethod}}</td>
        <td><button class="btn status {{this.status}}">{{this.status}}</button></td>
        <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{this._id}}">Edit</button></td>
        <td>
          <a href="admin/delete-order/{{this._id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </td>
      </tr>
      <!-- Modal -->
      <div class="modal fade" id="{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">ข้อมูลออเดอร์</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="form" method="POST" action="/admin/order-edit">
              <div class="modal-body">
                <p>วันที่ {{this.date}}</p>
                <ul class="list-group">
                  {{#each this.items}}
                  <li class="list-group-item space-between">
                    {{this.item.title}} ( จำนวน : {{this.qty}} ชิ้น )
                    <span class="badge bg-secondary">{{this.price}}.00 บาท</span>
                  </li>
                  {{/each}}
                  <li class="list-group-item space-between">
                    ค่าส่ง
                    <span class="badge bg-secondary">30.00 บาท</span>
                  </li>
                </ul>
                <p>รวมทั้งหมด <strong>{{this.cart.totalPrice}}.00 บาท </strong></p>
                <label for="slip" class="form-label">Slip : {{this.paymentDate}}</label>
                <img src="/Slip/{{this.paymentId}}" class="form-control">

                <label for="name" class="form-label" class="red">Status</label>
                <select id="status" class="form-select" name="status">
                  <option value="Pending">Pending</option>
                  <option value="In-Progress">In-Progress</option>
                  <option value="Done">Done</option>
                  <option value="Cancel">Cancel</option>
                </select>

                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" class="form-control" value="{{this.name}}" disabled>
                <label for="address" class="form-label">Address</label>
                <textarea id="address" class="form-control" disabled>{{this.address}}</textarea>
                <label for="phone" class="form-label">Phone</label>
                <input type="text" id="phone" class="form-control" value="{{this.phone}}" disabled>
                <input type="hidden" name="_id" value="{{ this._id }}">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit">Save changes</button>
              </div>
            </form>
          </div>
        </div>
        </div>
        {{/each}}
    </tbody>
  </table>
</div>