<div class="page-viewproduct">
    <div class="main-container w-100">
        <div class="col col1">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {{#each product.imagePath}}
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="{{this}}" class="d-block w-100" alt="...">
                    </div>
                    {{/each}}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col">
            <h1>{{product.title}}</h1>
            <h3>{{product.description}}</h3>
            <h3>ราคา : {{product.price}}.00 บาท</h3>
            <div class='column-custom'>
                <a href="/add-to-cart-product/{{product._id}}" id="sellbutton" class="btn btn-success {{product.status}}">เพิ่มลงตะกร้า</a>
            </div>
        </div>
    </div>
</div>
<script src='/stylesheets/product-view.js'></script>