<div class="page page-cart">
    <h1>ตะกร้าสินค้า</h1>
    {{#if products}}
    <div class="flex-column-1">
        {{#each products}}
        <div class="flex-row-1">
            <div class="flex-row-2">
                <img src="{{this.item.imagePath}}">
                <div>
                    <h2>{{this.item.title}}</h2>
                    <p>{{this.item.description}}</p>
                    <p id="price">ราคา : {{this.item.price}} บาท</p>
                </div>
            </div>
            <div class="flex-column-below">
                <h3>Quantity</h3>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="/reduce/{{this.item._id}}" class="btn btn-primary">-</a>
                    <button type="button" class="btn">{{this.qty}}</button>
                    <a href="/addone-to-cart/{{this.item._id}}" class="btn btn-primary">+</a>
                </div>
            </div>
            <div class="flex-column-between">
                <a href="/remove/{{this.item._id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                <h3>{{this.price}}.00 บาท</h3>
            </div>
        </div>
        {{/each}}
        <hr>
        <div class="flex-row-1 total">
            <h5> </h5>
            <div class="flex-coloumn-1">
                <div class="flex-row-3">
                    <h3>Subtotal </h3>
                    <h3>{{totalPrice}}.00 บาท</h3>
                </div>
                <p>ยอดเงินทั้งหมด รวมค่าส่งแล้ว</p>
                <a href="/checkout" class="btn btn-primary w-100">ชำระเงิน</a>
            </div>
        </div>
    </div>
    {{else}}
    <h2>ไม่มีสินค้าในตะกร้า</h2>
    {{/if}}
</div>
